@import "@fontsource-variable/montserrat";

:root {
  --color-primary: #384637;
  --color-bg: #ffffff;
  --color-bg2: #faf8f4;
  --color-bg3: #6ba372;
  --color-link: #5f9166;
  --color-hover: #c88f7d;
  --color-nutrition-pro: black;

  --shadow-elev-2:
    #00000040 0px 0.0625em 0.0625em,
    #00000040 0px 0.125em 0.5em,
    #ffffff1a 0px 0px 0px 1px inset;

  --height-header: 4em;

  font-family: Montserrat Variable, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-primary);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #d6e2d1;
    --color-bg: #1e1f1c;
    --color-bg2: #2c2e28;
    --color-bg3: #96b991;
    --color-link: #a4b77a;
    --color-hover: #e0a66a;
    --color-nutrition-pro: white;

    --shadow-elev-2:
      #000000b3 0em 0.125em 0.25em,
      #00000080 0em 0.375em 1.25em,
      #ffffff14 0em 0em 0em 0.0625em inset;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--height-header);
}

html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  line-height: 1.1;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: xxx-large;
}

h2 {
  font-size: xx-large;
  padding-bottom: 1em;
}

a {
  text-decoration: none;
  color: var(--color-link);
  font-weight: 500;
  transition: all 0.3s ease;
}

a:is(:hover, :active) {
  color: var(--color-hover);
}

main > section {
  padding: 5em 2em;
  box-sizing: border-box;
}

main > section:nth-child(even) {
  background-color: var(--color-bg2);
}

.main-header {
  position: sticky;
  top: 0;
  background-color: var(--color-bg2);
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: var(--height-header);
  column-gap: 1em;
  align-items: center;
  padding: 0 1em;
  z-index: 999;
}

.main-header__nav {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-column: 1 / 2;
  align-items: center;
}

.main-header__logo {
  justify-self: start;
  font-weight: bold;
  font-size: xx-large;
}

.main-header__menu {
  display: grid;
  grid-auto-flow: column;
  justify-self: end;
  gap: 1em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 48rem) {
  .main-header__menu {
    display: none;
  }
}

.main-header a {
  white-space: nowrap;
}

.main-header a:is(:link, :visited) {
  color: inherit;
}

.main-header a:hover {
  color: var(--color-hover);
}

.main-header > a {
  display: inline-flex;
  align-items: center;
}

.lead-button {
  align-self: center;
  text-decoration: none;
  background-color: var(--color-bg3);
  font-weight: 700;
  font-size: 1.5rem;
  margin: auto;
  padding: 0.25em 0.75em;
  border-radius: 5px;
  box-shadow: lch(from var(--color-bg3) calc(l * 0.5) c h) 0px 0px 0.2em;

  transition: all 0.3s ease;
}

.lead-button:is(:link, :visited) {
  color: var(--color-bg);
}

@media (prefers-color-scheme: dark) {
  .lead-button:is(:link, :visited) {
    color: var(--color-bg2);
  }
}

.lead-button:hover {
  transform: scale(1.025);
  background-color: var(--color-hover);
  color: var(--color-bg2);
  box-shadow: lch(from var(--color-hover) calc(l * 0.5) c h) 0px 0px 0.2em;
}

#hero {
  max-width: 54rem;
  min-height: calc(100vh - var(--height-header));
  margin: auto;
  display: grid;
  gap: 2em;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  grid-template-rows: repeat(4, auto);
  text-align: center;
}

#hero h1 {
  padding-bottom: 0.25em;
}

#hero p {
  margin: 0;
}

@media (min-height: 63rem) {
  #hero {
    gap: 5em;
    height: auto;
  }
}

.hero__core {
  font-size: x-large;
}

@media (max-width: 34rem) {
  .hero__core {
    font-size: large;
  }
}

.hero__celiac {
  max-width: 35em;
  font-size: larger;
}

.cards {
  display: grid;
  gap: 5em;
}

.cards__container {
  width: 100%;
  margin: auto;
  display: grid;
  gap: 2em;
}

.cards__container > article {
  background-color: var(--color-bg);
  padding: 1.5em;
  border-radius: 5px;
  box-shadow: var(--shadow-elev-2);
}

#features h3 {
  text-align: center;
  margin-bottom: 1em;
}

@media (width < 40rem) {
  #features img {
    width: 100%;
  }
}

@media (width >= 40rem) {
  #features article {
    display: grid;
    align-items: center;
  }

  #features article > h3 {
    grid-column: span 2;
  }

  #features article > ul {
    margin: 0;
  }
}

@media (40rem <= width < 62rem) {
  #features article {
    grid-template-columns: 12rem 1fr;
  }

  #features img {
    display: block;
    margin: auto;
  }
}

@media (min-width: 62rem) {
  #features > .cards__container {
    max-width: 80rem;
    grid-template-columns: 1.2fr 1fr;
  }
}

#services article {
  text-align: center;
  padding: 2em 1em;
}

#services svg {
  margin-bottom: 1em;
}

#services ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.service__price {
  font-size: x-large;
  font-weight: 700;
  margin: 0.25em 0;
}

@media (min-width: 48rem) {
  #services > .cards__container {
    --services-column-count: 2;
    grid-template-columns: repeat(var(--services-column-count), 1fr);
  }

  #services article {
    max-width: 25rem;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    row-gap: 0;
    justify-items: center;
    margin: auto;
  }

  #services h3 {
    height: 2em;
  }
}

@media (min-width: 88rem) {
  #services > .cards__container {
    --services-column-count: 4;
  }
}

#about {
  display: grid;
  gap: 2em;
}

.about__text {
  line-height: 1.7em;
}

#about img {
  border-radius: 5px;
}

@media (width < 75rem) {
  #about img {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 75rem) {
  #about {
    grid-template-columns: 1fr 1fr;
    padding-inline: 10em;
    align-items: center;
    justify-content: center;
  }

  .about__text {
    max-width: 40em;
  }

  #about > picture {
    display: inline-grid;
    justify-items: center;
  }
}

#about h2 {
  padding-bottom: 0;
}

.separator {
  width: 3em;
  height: 3px;
  border: none;
  background-color: var(--color-primary);
  margin: 2em auto;
}

.about__mynameis {
  font-size: larger;
  text-align: center;
}

.intext {
  height: 1.25em;
  padding-inline-start: 0.25em;
  width: auto;
  vertical-align: middle;
}

.nutrition-pro {
  color: var(--color-nutrition-pro);
}

.background__carousel {
  display: flex;
  gap: 2em;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  overflow-x: scroll;
}

.background__carousel > li {
  list-style-type: none;
}

.background__carousel img {
  border-radius: 5px;
  box-shadow: var(--shadow-elev-2);

  transition: transform 0.3s ease;
}

@media (max-width: 55rem) {
  .background__carousel {
    scroll-snap-type: x mandatory;
  }

  .background__carousel > li {
    flex: 0 0 100%;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
  }

  .background__carousel img {
    max-width: 100%;
  }
}

footer {
  padding: 5em;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 5em;
  row-gap: 3em;
  color: var(--color-primary);
  background-color: var(--color-bg2);
}

@media (min-width: 30rem) {
  footer > section:last-child {
    grid-template-columns: 1fr 1fr;
  }
}

@media (30rem < width < 69rem) {
  footer > section:last-child {
    grid-column: span 2;
  }
}

@media (min-width: 68.75rem) {
  footer {
    grid-template-columns: auto auto auto;
    justify-content: center;
  }
}

footer p {
  margin: 0;
}

footer h2 {
  font-size: large;
  text-align: start;
}

footer a {
  display: block;
  color: var(--color-primary);
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer p,
footer li {
  line-height: 1.5em;
  padding-bottom: 0.8em;
}
